extends ../layouts/layout_2.pug
block page-title
  title  混合雲端服務
block content
  section.banner
    #c-bannar.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#c-bannarr', data-slide-to='0')
        li(data-target='#c-bannar', data-slide-to='1')
        li(data-target='#c-bannar', data-slide-to='2')
      // Slides
      .carousel-inner(role='listbox')
        .carousel-item.w-100.active
          .bg-mask
          .bg(style='background:url(../img/banner/cat_c/banner_cat_c_01.png) no-repeat center; background-size: cover')
          a.banner-container(href="")
            .text
              h2 混合雲端服務
              p 超過 190 個 國家/地區中的 LTE / 4G，提供客戶即時、安全的網路效能
        .carousel-item.w-100
          .bg-mask
          .bg(style='background:url(../img/banner/cat_c/banner_cat_c_02.png) no-repeat center; background-size: cover')
          a.banner-container(href="")
            .text
              h2 混合雲端服務
              p 超過 190 個 國家/地區中的 LTE / 4G，提供客戶即時、安全的網路效能
        .carousel-item.w-100
          .bg-mask
          .bg(style='background:url(../img/banner/cat_c/banner_cat_c_03.png) no-repeat center; background-size: cover')
          a.banner-container(href="")
            .text
              h2 混合雲端服務
              p 超過 190 個 國家/地區中的 LTE / 4G，提供客戶即時、安全的網路效能
  section.card_e.py-5
    .container
      div.title-area
      .row
        div.col-12.col-lg-4.col-md-6
          div.card
            a.img-card(href="")
              div.card-bg
                img(alt='',src='../img/card_e/cat_c/card_e_cat_c_vm.png')
              div.card-text_a_e
                h4.ellipsis
                  img(alt='', src='../img/ic/cat_c/ic_cat_c_vm.svg') 
                  | 顧問規劃
                p.ellipsis 可靠、高品質的轉數網路設備。
              p.gxc-more( href='#') 
                | 進一步了解
                img(alt='',src='../img/ic/common/arrow_right.svg')
          div.card-bottom-l
        div.col-12.col-lg-4.col-md-6
          div.card
            a.img-card(href="")
              div.card-bg
                img(alt='',src='../img/card_e/cat_c/card_e_cat_c_hicloud.png')
              div.card-text_a_e
                h4.ellipsis
                  img(alt='', src='../img/ic/cat_c/ic_cat_c_hicloud.svg') 
                  | 導入輔導
                p.ellipsis 可靠、高品質的轉數網路設備。
              p.gxc-more( href='#') 
                | 進一步了解
                img(alt='',src='../img/ic/common/arrow_right.svg')
          div.card-bottom-l
        div.col-12.col-lg-4.col-md-6
          div.card
            a.img-card(href="")
              div.card-bg
                img(alt='',src='../img/card_e/cat_c/card_e_cat_c_server.png')
              div.card-text_a_e
                h4.ellipsis
                  img(alt='', src='../img/ic/cat_c/ic_cat_c_server.svg') 
                  | eXpress Cloud Connect
                p.ellipsis 可靠、高品質的轉數網路設備。
              p.gxc-more( href='#') 
                | 進一步了解
                img(alt='',src='../img/ic/common/arrow_right.svg')
          div.card-bottom-l 
        div.col-12.col-lg-4.col-md-6
          div.card
            a.img-card(href="")
              div.card-bg
                img(alt='',src='../img/card_e/cat_c/card_e_cat_c_aws.png')
              div.card-text_a_e
                h4.ellipsis
                  img(alt='', src='../img/ic/cat_c/ic_cat_c_aws.svg') 
                  | 雲端監控
                p.ellipsis 可靠、高品質的轉數網路設備。
              p.gxc-more( href='#') 
                | 進一步了解
                img(alt='',src='../img/ic/common/arrow_right.svg')
          div.card-bottom-l
        
  //icon_c
  section.icon_c.bg-gray.py-4
    .container
      div.title-area
        h3 合作夥伴
        p 服務全球超過 30 萬以上的企業，深受頂尖的企業信賴
      .row.justify-content-center
        .icon-area
          img(src="../img/con-icon1.png", alt="")
          img(src="../img/con-icon2.png", alt="")
          img(src="../img/con-icon3.png", alt="")
          img(src="../img/con-icon4.png", alt="")
          img(src="../img/con-icon5.png", alt="")